body {
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100%;
}

h3 {
    text-align: center;
    color: white;
    font-size: 24px;
}

textarea {
    resize: none;
}

.titulo {
    margin-top: -20px;
    text-align: center;
    color: white;
}

.fixed-panel {
    min-height: 350px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: scroll;
    text-wrap: normal;
}

.refreshButton {
    position: absolute;
    top: 15px;
}

.logged-in {
    visibility: hidden;
}

.label-as-badge {
    border-radius: 1em;
    font-size: small;
    float: right;
}

.userColor {
    color: white;
}

.users {
    background-color: brown;
    color: black;
}

.chat {
    color: black;
}

.buttonSend {
    padding: 10px 30px 30px 10px;
    margin-left: 10px;
    margin-top: 10px;
}