@page

<link rel="stylesheet" type="text/css" href="~/css/style.css">
<link href="~/css/font-awesome.min.css" rel="stylesheet" />

<h1 class="titulo">WebChat Signlar</h1>

<!-- users-->
<div class="users col-sm-3">

    <div class="input-group col-sm-12">
        <h3><span>Utilizadores Online</span></h3>
    </div>

    <div class="panel panel-default">

        <div class="panel-body fixed-panel">
            <ul class="list-group" id="usersList"></ul>
            <div id="userList"></div>
        </div>

        Nome: <span id='usernameSpan'>__</span>

        <div class="panel-footer" id="nameFooter">
            <div class="input-group col-sm-12">

                <input id="usernameInput" type="text" class="form-control" placeholder="Username..." maxlength="16">

                <div class="input-group-btn">
                    <button class="btn btn-success" id="sendUserName">Username</button>
                </div>

            </div>
        </div>

    </div>
</div>

<!--chat-->
<div class="chat col-sm-9">

    <div class="grupos">
        <input type="text" id="nomeGrupo" value="" />
        <input type="button" id="joinGroup" value="Join Private Group" />
    </div>

    <br />
    <br />
    <br />

    <!-- ChatArea -->

    <div class="panel panel-default">

        <div class="panel-body fixed-panel chat">
            <ul class="list-group" id="messages"></ul>
        </div>

        <div class="panel-footer">
            <div class="input-group col-sm-12">

                <select id="group">
                    <option value="All">Everyone</option>
                </select>

                <textarea id="message" name="message" class="form-control" placeholder="Mensagem" rows="1"></textarea>
                <div class="input-group-btn">
                    <input class="buttonSend" type="button" id="sendButton" value="Enviar" />
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.3.1.js"></script>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/jscolor.js"></script>